// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('font-face/ArchitectsDaughter-webfont.eot');
    src: url('font-face/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-face/ArchitectsDaughter-webfont.woff') format('woff'),
         url('font-face/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('font-face/ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background-color: #282929; color: #fff; size: 14px; padding-top: 300px; height: 2000px; font-family:'ArchitectsDaughterRegular', sans-serif;}

.caption-container-header { margin: -500px auto 0 auto; width: 1400px; position: relative; z-index: 200; }
.caption {font-family:'ArchitectsDaughterRegular', sans-serif; position: relative; z-index: 99; font-size: 16px; float: left; background-color: #000; padding: 10px; }

#opening-pane { height: 500px; margin-top: 200px; }
#opening-pane .container { width: 1000px; margin: 0 auto; }
#opening-pane .subtitle { font-size: 20px; font-weight: normal; color:#888; width: 590px; float: right; text-align: left; }
#opening-page #logo { }
#opening-pane .callout { float: right; width: 170px; margin-top: 100px; }
#opening-pane .callout .content {line-height:22px; font-size: 17px; font-weight: normal; background-color: #000; float: left; width: 120px; padding-top: 8px; height: 30px; margin-right: -10px; }
#opening-pane #popout { width: 300px; float: right; margin: 100px 95px 0 0; }
#opening-pane #popout #back { float: right; margin-right: 20px; }
#opening-pane #popout #front { position: relative; float: right; margin-top: -55px; z-index: 2; }
#opening-pane #popout #listy { position: relative; float: right; margin: -375px 75px 0 0; z-index: 1; }
#opening-pane #popout #front #cover { float: right; background-color: #282929; height: 200px; width: 300px; margin-top: -20px; }

#badguy-pane { padding-top: 100px; } 
#badguy-pane .container { width: 1400px; margin: 0 auto; height: 500px; }
#badguy-pane .cityscape-back { position: relative; z-index: 1; }
#badguy-pane .cityscape-front { position: relative; z-index: 2; margin-top: -400px; }
#badguy-pane .dr-slum { position: relative; z-index: 3; margin: -350px 500px 0 0; }
#badguy-pane .frog-1 { position: relative; z-index: 9; margin: -150px 800px 0 0; }
#badguy-pane .frog-2 { position: relative; z-index: 10; margin: -100px 200px 0 0; }
#badguy-pane .frog-3 { position: relative; z-index: 11; margin: -125px 0 0 0; }
#badguy-pane .frog-king { position: relative; z-index: 12; margin: -300px 0 0 475px; }
#badguy-pane .apt1 { position: relative; z-index: 6; margin: -300px 300px 0 0; }
#badguy-pane .apt2 { position: relative; z-index: 5; margin: -300px 0 0 0; }
#badguy-pane .apt3 { position: relative; z-index: 8; margin: -275px 0 0 600px; }
#badguy-pane .apt4 { position: relative; z-index: 4; margin: -230px 660px 0 0; }
#badguy-pane .apt5 { position: relative; z-index: 7; margin: -200px 0 0 300px; }
#badguy-pane .heart-cl { position: relative; z-index: 50; top: -650px; margin-left: 400px; }
#badguy-pane #caption1 { }
#badguy-pane #caption2 { z-index: 100; margin-left: -340px; margin-top: 560px; }
#badguy-pane #caption3 { z-index: 100; margin: 550px 0 0 50px; font-size: 25px; }


#tech-pane {
	padding-top: 100px;
	margin-top:100px;
	position:relative;
	height: 500px;
	.container {
        width: 600px;
        height: 600px;
        position: relative;
        margin: 0 auto; 
    }

	img {
		
	}
	.text {
		background:image-url('block3-arrows.png') no-repeat top left; position:absolute; top:0; left:-9999; font-size:13px; padding-left:30px;
		span {display:block; background:#000; color:#666; height:30px; line-height:30px; padding:0 10px;}
	}
	.background img {position:absolute; background:#282929; top:50%; left:50%; margin-left:-360px; margin-top:-260px; padding:100px 200px;}
	.listy1 {z-index:10; position:absolute; top:50%; left:50%; margin-left:-84px; margin-top:-80px;}
	.listy2 {z-index:30; position:absolute; top:50%; left:50%; margin-left:-84px; margin-top:-80px;}
	.listy3 {z-index:50; position:absolute; top:50%; left:50%; margin-left:-84px; margin-top:-80px;}
	.listy4 {z-index:70; position:absolute; top:50%; left:50%; margin-left:-84px; margin-top:-80px;}
	.listy5 {z-index:90; position:absolute; top:50%; left:50%; margin-left:-84px; margin-top:-80px;}
	.listy6 {z-index:110; position:absolute; top:50%; left:50%; margin-left:-84px; margin-top:-80px;}
	
	.front-text {
		z-index:35;
		&#front-text1 {top:260px; left:330px;}
		&#front-text2 {top:280px; left:100px; padding-left:0; padding-right:30px; background-position:bottom right;}
		&#front-text3 {top:307px; left:307px;}
	}
	
	.side-text {
		z-index:75;
		&#side-text1 {top:240px; left:60px; padding-left:0; padding-right:30px; background-position:bottom right;}
		&#side-text2 {top:257px; left:270px; }
		&#side-text3 {top:340px; left:270px;}
	}
	
	.back-text {
		z-index:115;
		&#back-text1 {top:220px; left:335px;}
		&#back-text2 {top:277px; left:350px; }
		&#back-text3 {top:330px; left:320px;}
	}

}

#end-pane {
	padding-top: 100px;
	position:relative;
	height: 500px;
	.container {width:960px; margin:0 auto;}
	.caption2 {margin-top:50px;} 
	.caption3 {margin-top:100px; font-size:25px; }
}

#finale {
	height:200px;
	.caption-end {font-size:35px; float:none; margin:0 auto;}
}

#lab-pane { }
#lab-pane .lab { }
#lab-pane .lab-on { margin: -745px 0 0 350px; }

#cliffhanger { padding-top: 50px }
#cliffhanger div { color: #2896DB }
#cliffhanger .canlisty1 { font-size: 48px; margin-bottom: 100px; color: #2896DB; }
#cliffhanger .canlisty2 { font-size: 48px; margin-bottom: 100px; color: #2896DB; }
#cliffhanger .canlisty3 { font-size: 72px; margin-bottom: 200px; color: #2896DB; }

//teaser pane where listing and slumlord are flying to each other
#ending-action-pane .foreground {
  position: relative;
  margin: -200px 0 0 0;
}
#ending-action-pane .city {
  margin: 0 0 0 1px;
}
#ending-action-pane .cityscape-back {
  position: relative;
  margin: -150px 0 0 0;
  width: 100px;
}
#ending-action-pane #city.cityscape-back {
  position: relative;
  margin: -410px 0 0 2600px;
  width: 100px;
}
#ending-action-pane #listy {
  position: relative;
  margin: -50px 0 0 0;
}
#ending-action-pane #listy.fly-out{
  position: relative;
  margin: -175px 0 0 0;
}
#ending-action-pane {
  margin: 200px 0 0 0;
}
//this one caused an interesting looping bug in scrollorama
//#credits-pane {
//  margin: 600px 0 0 0;
//}
#ending-credits.credits {
  padding-top: 50px;
}
