// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('font-face/ArchitectsDaughter-webfont.eot');
    src: url('font-face/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-face/ArchitectsDaughter-webfont.woff') format('woff'),
         url('font-face/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('font-face/ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background-color: #282929; color: #fff; size: 14px; padding-top: 300px; height: 2000px; font-family:'ArchitectsDaughterRegular', sans-serif;}

.caption-container-header { margin: -500px auto 0 auto; width: 1400px; position: relative; z-index: 200; }
.caption { position: relative; z-index: 99; font-size: 16px; float: left; border: 2px solid #454545; background-color: #000; padding: 10px; }

#opening-pane { height: 500px; margin-top: 200px; }
#opening-pane .container { width: 1000px; margin: 0 auto; }
#opening-pane .subtitle { font-size: 20px; font-weight: normal; color:#888; width: 590px; float: right; text-align: left; }
#opening-page #logo { }
#opening-pane .callout { float: right; width: 170px; margin-top: 100px; }
#opening-pane .callout .content {line-height:22px; font-size: 17px; font-weight: normal; background-color: #000; float: left; width: 120px; padding-top: 8px; height: 30px; margin-right: -10px; }
#opening-pane #popout { width: 300px; float: right; margin: 100px 95px 0 0; }
#opening-pane #popout #back { float: right; margin-right: 20px; }
#opening-pane #popout #front { position: relative; float: right; margin-top: -55px; z-index: 2; }
#opening-pane #popout #listy { position: relative; float: right; margin: -375px 75px 0 0; z-index: 1; }
#opening-pane #popout #front #cover { float: right; background-color: #282929; height: 200px; width: 300px; margin-top: -20px; }

#badguy-pane { padding-top: 100px; } 
#badguy-pane .container { width: 1400px; margin: 0 auto; height: 500px; }
#badguy-pane .cityscape-back { position: relative; z-index: 1; }
#badguy-pane .cityscape-front { position: relative; z-index: 2; margin-top: -400px; }
#badguy-pane .dr-slum { position: relative; z-index: 3; margin: -350px 500px 0 0; }
#badguy-pane .frog-1 { position: relative; z-index: 9; margin: -150px 800px 0 0; }
#badguy-pane .frog-2 { position: relative; z-index: 10; margin: -100px 200px 0 0; }
#badguy-pane .frog-3 { position: relative; z-index: 11; margin: -125px 0 0 0; }
#badguy-pane .frog-king { position: relative; z-index: 12; margin: -300px 0 0 475px; }
#badguy-pane .apt1 { position: relative; z-index: 6; margin: -300px 300px 0 0; }
#badguy-pane .apt2 { position: relative; z-index: 5; margin: -300px 0 0 0; }
#badguy-pane .apt3 { position: relative; z-index: 8; margin: -275px 0 0 600px; }
#badguy-pane .apt4 { position: relative; z-index: 4; margin: -230px 660px 0 0; }
#badguy-pane .apt5 { position: relative; z-index: 7; margin: -200px 0 0 300px; }
#badguy-pane #caption1 { }
#badguy-pane #caption2 { z-index: 100; margin-left: -340px; margin-top: 50px; }
#badguy-pane #caption3 { z-index: 100; margin-left: -600px; margin: 375px 0 0 400px; font-size: 36px; }

#the-end {  }
